@model EACUniformsDS3.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpectedDeliveryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpectedDeliveryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderedByUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderedByUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
