@model EACUniformsDS3.Models.Supplier

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Supplier</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.supplier_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.supplier_Name, new { @class = "form-control", placeholder = "Enter Supplier Name..." })
                @Html.ValidationMessageFor(model => model.supplier_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email_Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.email_Address, new { @class = "form-control", placeholder = "Enter Email Address..." })
                @Html.ValidationMessageFor(model => model.email_Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contact_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.contact_Number, new { @class = "form-control", placeholder = "Enter Contact Number..." })
                @Html.ValidationMessageFor(model => model.contact_Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control", placeholder = "Enter Contact Name..." })
                @Html.ValidationMessageFor(model => model.ContactName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactSurname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ContactSurname, new { @class = "form-control", placeholder = "Enter Contact Surname..." })
                @Html.ValidationMessageFor(model => model.ContactSurname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address_Line1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.address_Line1, new { @class = "form-control", placeholder = "Enter Address..." })
                @Html.ValidationMessageFor(model => model.address_Line1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address_Line2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.address_Line2, new { @class = "form-control", placeholder = "Enter Address Cont..." })
                @Html.ValidationMessageFor(model => model.address_Line2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.suburb, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.suburb, new { @class = "form-control", placeholder = "Enter Suburb..." })
                @Html.ValidationMessageFor(model => model.suburb)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.city, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.city, new { @class = "form-control", placeholder = "Enter city..." })
                @Html.ValidationMessageFor(model => model.city)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.postal_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.postal_Code, new { @class = "form-control", placeholder = "Enter Postal Code..." })
                @Html.ValidationMessageFor(model => model.postal_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lead_Time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Lead_Time, new { @class = "form-control", placeholder = "Enter lead time..." })
                @Html.ValidationMessageFor(model => model.Lead_Time)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
