@model EACUniformsDS3.Models.School

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
<h2>Added to School Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>School</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.school_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.school_Name)
                @Html.ValidationMessageFor(model => model.school_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address_Line1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address_Line1)
                @Html.ValidationMessageFor(model => model.address_Line1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address_Line2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address_Line2)
                @Html.ValidationMessageFor(model => model.address_Line2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.suburb, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.suburb)
                @Html.ValidationMessageFor(model => model.suburb)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.city, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.city)
                @Html.ValidationMessageFor(model => model.city)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.postal_Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.postal_Code)
                @Html.ValidationMessageFor(model => model.postal_Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contact_Person, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contact_Person)
                @Html.ValidationMessageFor(model => model.contact_Person)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact_eMail_Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact_eMail_Address)
                @Html.ValidationMessageFor(model => model.Contact_eMail_Address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contact_Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contact_Number)
                @Html.ValidationMessageFor(model => model.contact_Number)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
