@model EACUniformsDS3.Models.Item

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Item</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.TextBoxFor(model => model.description, new { @class = "form-control", placeholder = "Enter Item Description..." })


                @Html.ValidationMessageFor(model => model.description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cprice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Cprice, new { @class = "form-control", placeholder = "Enter Cost Price..." })
                @Html.ValidationMessageFor(model => model.Cprice)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Sprice, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Sprice, new { @class = "form-control", placeholder = "Enter Selling Price..." })
                @Html.ValidationMessageFor(model => model.Sprice)
            </div>
        </div>

        <div class="form-group" style="color:black">
            @Html.LabelFor(model => model.supplier, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.supplier, EACUniformsDS3.Controllers.SupplierController.GetDropDownSuppliers(), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imageUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.imageUrl, new { @class = "form-control", placeholder = "Enter URL..." })
                @Html.ValidationMessageFor(model => model.imageUrl)
            </div>
        </div>

        <div class="form-group">
           @Html.LabelFor(model => model.school_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Item", EACUniformsDS3.Controllers.SchoolController.GetAllSchools(), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
