@model IEnumerable<EACUniformsDS3.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imageUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.supplier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imageUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.item_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.item_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.item_Id })
        </td>
    </tr>
}

</table>
